<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Beatriz Dile</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="images/bia robo-modified.png" width="200" height="200" alt="beatriz dile picture"></td>
        <td><h1><a href="https://www.linkedin.com/in/beatriz-dile/">Beatriz Dile</a></h1>
        <p><em>Student Programmer</em></p>
        <p>I'm a wannabe developer that currently studies python for the most part.</p>
        <hr>
        <h3>Education</h3>
        <p><strong>School SENAI</strong></p>
        <p>Description.</p></td>
      </tr>
    </table>
    <hr>
    <h4>Languages</h4>
    <ul>
      <li>Python</li>
      <li>Java</li>
      <li>C++</li>
    </ul>
    <hr>
    <head>
      <meta charset="utf-8">
      <title>My Hobbies</title>
    </head>
    <body>
      <h4>Hobbies</h4>
      <ol>
        <li>Play games</li>
        <li>Program</li>
        <li>Read</li>
      </ol>
    </body>
    <hr>
    <br>
    <table border="1">
      <thead>
        <tr>
          <th>Dates</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2019-2020</td>
          <td>Student at SENAI.</td>
        </tr>
        <tr>
          <td>2022</td>
          <td>Student at FATEC.</td>
        </tr>
      </tbody>
    </table>

    <h4>Skills</h4>
      <table border="1">
        <tbody>
          <tr>
            <td>Python ⭐⭐⭐⭐</td>
            <td>C++ ⭐</td>
          </tr>
          <tr>
            <td>HTML ⭐⭐</td>
            <td>CSS ⭐⭐</td>
          </tr>

        </tbody>
      </table>
      <br>
      <a href="contact.html"><h3>My Contact</h3></a>
  </body>
</html>
